<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>QA게시판 댓글 모두 조회</h1>
    <table border = "1px">
        <tr>
            <th>게시판번호</th>
            <th>글제목</th>
            <th>글번호</th>
            <th>댓글작성자</th>
            <th>댓글내용</th>
        </tr>

        <%for(let i = 0; i<in_row.length;i++){%>
        <tr align = "center">
            <td><%=in_row[i].board_num%></td>
            <td><%=in_row[i].qa_board_title%></td>
            <td><%=in_row[i].board_text_num%></td>
            <td><%=in_row[i].member_lol_name%></td>
            <td><%=in_row[i].qa_comment_text%></td>
        </tr>
        <%}%>
    </table>
    <a href="http://127.0.1.1:5500/NODEJS/game-project/public/Main.ejs">메인페이지로 돌아가기</a>
</body>
